<footer class="mt-auto">
  <div class="container flex flex-col flex-wrap items-center justify-center gap-4 py-12 md:flex-row lg:justify-between">
    <div class="flex flex-col items-center gap-x-6 gap-y-4 py-2 md:flex-row">
      <figure>
        <a href="/" class="flex items-center gap-2">
          <i class="fas fa-play-circle text-main text-xl"></i>
          <span class="font-bold text-lead">Anime<span class="text-main">Hub</span></span>
        </a>
      </figure>
      <span class="inline-flex items-center gap-3 text-sm font-medium">
        <i class="fas fa-heart text-main text-xl"></i> By fans for fans
      </span>
    </div>
    <div class="text-center md:text-right">
      <p class="text-xs text-subs">© <%= new Date().getFullYear() %> AnimeHub. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>